build/
sh3emu
headless
rom/
*.pgm
SH3Emu.app/
dist/
.DS_Store
.claude/
docs/philips/
*.state
*.state.old
/*.img
/apps/
/games/
/hash.py
/hash.sh
/Windows_CE_Files.txt
sh3-run
__pycache__/
.vscode/
sh3emu-rapi
proxycheck
*.jks
